.usuarioContainer {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.nomeUsuario {
    font-weight: 600;
    color: white;
}

.avatar {
    img {
        width: 32px;
        height: 32px;
    }

    padding-top: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;

    &:hover {
        opacity: 0.55;
    }
}


.avatarWrapper {
    position: relative;
}

.dropdown {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #ECBDB5;
    border-radius: 2px;
    padding: 0rem 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    z-index: 100;

    align-items: center;
    text-align: center;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            padding: 0.5rem 1rem;
            color: var(--green-1);
            cursor: pointer;
            transition: background-color 0.3s;
            border-bottom: 1px solid #00000040;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
            box-sizing: border-box;

            &:hover {
                background-color: #BF8F86;
                color: var(--white);
            }
        }
    }
}